@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applies the light and dark background color to the body */
@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white transition-colors duration-200;
  }
}

/* Applies the light and dark background color to the button and card */
@layer components {
  .btn {
    @apply bg-blue-500 text-white dark:bg-blue-700 dark:text-gray-100;
  }

  .card {
    @apply bg-white dark:bg-gray-800 shadow-md;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
